<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xyz.fch_sp.app.modular.system.dao.BlockMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.xyz.fch_sp.app.modular.system.model.Block">
		<result column="id" property="id" jdbcType="BIGINT"/>
		<result column="blockcount" property="blockcount" jdbcType="BIGINT"/>
	</resultMap>

	<sql id="Base_Column_List">
		id, blockcount
	</sql>

	<select id="selectHeight" resultType="long">
		SELECT
		blockcount
		FROM
		`block`
	</select>


</mapper>
